.tercerSection .rojo strong {
  font-weight: 900;
  color: red;
}
.tercerSection p i {
  font-weight: 900;
  color: red;
}
.tercerSection .azul strong {
  color: blue;
}
.cuartaSection .contenedor {
  background-color: pink;
  width: 150px;
  height: 150px;
}

.segundaSection #contacto {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}
.tituloHeader {
  height: 150px;
  padding: 50px;
  font-size: 25px;
}
* {
  font-family: "Shantell Sans", cursive;
}
